.header_details{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color:darkblue;
    min-height: 120px;
    height: 120px;
    color: white;
    display: inline-block;
    resize: none;
}
.h1_breamcrumbs{
    margin-top: 120px;
    margin-left: 50px;
}