<mat-card class="page-details">
	<div class="example-container page-details">
		<div class="form-container">
			<mat-vertical-stepper [linear]="isLinear" #stepper>
				<mat-step [stepControl]="firstFormGroup">
					<form [formGroup]="firstFormGroup">
						<ng-template matStepLabel>Confirations</ng-template>
						<mat-form-field appearance="fill" class="form-field">
							<mat-label>Domain</mat-label>
							<mat-select>
								<mat-option value="option1">APT Client</mat-option>
								<mat-option value="option3">Justice</mat-option>
							</mat-select>
						</mat-form-field>
						<div>
							<button mat-button matStepperNext class="mat-yellowgreen">Next</button>
						</div>
					</form>
				</mat-step>
				<!--  End Step One -->
				<mat-step [stepControl]="secondFormGroup">
					<form [formGroup]="secondFormGroup">
						<ng-template matStepLabel>Create Client</ng-template>
						<mat-form-field appearance="outline" class="form-field">
							<mat-label>Client Name</mat-label>
							<input matInput placeholder="Client Name" required> </mat-form-field>
						<mat-form-field appearance="outline" class="form-field">
							<mat-label>Name Identifiers</mat-label>
							<input matInput placeholder="Client Identifiers" required> </mat-form-field>
						<mat-form-field class="example-chip-list" class="form-field">
							<mat-label>Add Client Organisation</mat-label>
							<mat-chip-list #chipList aria-label="Client Organisation">
								<mat-chip *ngFor="let org of organisation" [selectable]="selectable" [removable]="removable" (removed)="remove(org)"> {{org.name}}
									<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
								</mat-chip>
								<input placeholder="organisation..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"> </mat-chip-list>
						</mat-form-field>
						<div>
							<button mat-button matStepperPrevious class="mat-yellowgreen">Back</button>
							<button mat-button matStepperNext class="mat-yellowgreen">Next</button>
						</div>
					</form>
				</mat-step>
				<!--  End Step Two -->
				<mat-step [stepControl]="thirdFormGroup">
					<form [formGroup]="thirdFormGroup">
						<ng-template matStepLabel>Create Application</ng-template>
						<mat-accordion class="example-headers-align" multi>
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title> Configured SU Application </mat-panel-title>
								</mat-expansion-panel-header>
								<mat-checkbox class="example-margin">Create SU Application </mat-checkbox>
								<mat-form-field class="form-field">
									<mat-label>Application name</mat-label>
									<input matInput> </mat-form-field>
								<mat-form-field class="form-field">
									<mat-label>Application Identifiers</mat-label>
									<input matInput >
								 </mat-form-field>
								<mat-form-field class="form-field">
									<mat-label>Application Identifiers</mat-label>
									<input matInput type="number" min="1" disabled> http://dccsu-dev.sequation.com 
								</mat-form-field>
							</mat-expansion-panel>
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title> Configured kW Application </mat-panel-title>
								</mat-expansion-panel-header>
								<mat-checkbox class="example-margin">Create KW Application </mat-checkbox>
								<mat-form-field class="form-field">
									<mat-label>Application name</mat-label>
									<input matInput> </mat-form-field>
								<mat-form-field class="form-field">
									<mat-label>Application Identifiers</mat-label>
									<input matInput> </mat-form-field>
								<mat-form-field class="form-field">
									<mat-label>Application Identifiers</mat-label>
									<input matInput type="number" min="1" disabled> http://dccsu-dev.sequation.com </mat-form-field>
							</mat-expansion-panel>
						</mat-accordion>
						<div>
							<button mat-button matStepperPrevious class="mat-yellowgreen">Back</button>
							<button mat-button matStepperNext class="mat-yellowgreen">Next</button>
						</div>
					</form>
				</mat-step>
				<!--  End Step Three -->


				<mat-step [stepControl]="forthFormGroup">
					<form [formGroup]="forthFormGroup">
						<ng-template matStepLabel>Create Role</ng-template>
					<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title> Create Role For SU Application </mat-panel-title>
							</mat-expansion-panel-header>
						<mat-form-field class="example-chip-list" class="form-field">
								<mat-label>Add Roles</mat-label>
								<mat-chip-list #suChipList aria-label="SU Roles">
									<mat-chip *ngFor="let role of rolesSU" [selectable]="selectable" [removable]="removable" (removed)="removeRoles(role,'su')"> {{role.name}}
										<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
									</mat-chip>
									<input placeholder="Roles..." [matChipInputFor]="suChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addRoles($event,'su')"> </mat-chip-list>
						</mat-form-field>
					
					</mat-expansion-panel>
						
						
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title> Create Role For KW Application </mat-panel-title>
							</mat-expansion-panel-header>

							<mat-form-field class="example-chip-list" class="form-field">
								<mat-label>Add Roles</mat-label>
								<mat-chip-list #kwChipList aria-label="SU Roles">
									<mat-chip *ngFor="let role of rolesKW" [selectable]="selectable" [removable]="removable" (removed)="removeRoles(role,'kw')"> {{role.name}}
										<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
									</mat-chip>
									<input placeholder="Roles..." [matChipInputFor]="kwChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addRoles($event,'kw')"> </mat-chip-list>
						</mat-form-field>

						</mat-expansion-panel>
						<div>
							<button mat-button matStepperPrevious class="mat-yellowgreen">Back</button>
							<button mat-button matStepperNext class="mat-yellowgreen">Next</button>
						</div>
					</form>
				</mat-step>

	    <!--  End Step Forth -->

		<mat-step [stepControl]="fifthFormGroup">
			<form [formGroup]="fifthFormGroup">
				<ng-template matStepLabel>Assign Features To Roles</ng-template>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title> Service User Role </mat-panel-title>

						
					</mat-expansion-panel-header>
				</mat-expansion-panel>
			</form>
		</mat-step>

        
				<mat-step>
					<ng-template matStepLabel>Done</ng-template>
					<p>You are now done.</p>
					<div>
						<button mat-button matStepperPrevious class="mat-yellowgreen">Back</button>
						<button mat-button (click)="stepper.reset()" class="mat-yellowgreen">Reset</button>
					</div>
				</mat-step>
			</mat-vertical-stepper>
		</div>
	</div>
</mat-card>